
params {
    threads = 6
    expr = "https://raw.githubusercontent.com/aertslab/scenic-nf/master/example/expr_mat.tsv"
    TFs = "https://raw.githubusercontent.com/aertslab/scenic-nf/master/example/allTFs_hg38.txt"
    motifs = "https://resources.aertslab.org/cistarget/motif2tf/motifs-v9-nr.hgnc-m0.001-o0.0.tbl"
    db = "https://resources.aertslab.org/cistarget/databases/homo_sapiens/hg19/refseq_r45/mc8nr/gene_based/hg19-500bp-upstream-10species.mc8nr.feather"
    output = "pyscenic_output.csv"
    grn = "grnboost2"
    threads = 6
}
