
params {
    expr = "expr_mat.tsv"
    TFs = "allTFs_hg38.txt"
    motifs = "resources/motifs-v9-nr.hgnc-m0.001-o0.0.tbl"
    db = "resources/hg19*mc9nr.feather"
    output = "pyscenic_output.loom"
    outdir = "."
    grn = "grnboost2"
    threads = 6
    // parameters for reading loom files:
    cell_id_attribute = "CellID"
    gene_attribute = "Gene"
    // latest pySCENIC version tag
    tag = "0.9.7"
}

profiles {

    standard {
        process.executor = 'local'
    }
    docker {
        process.executor = 'local'
        docker.enabled = 'true'
        process.container = 'aertslab/pyscenic:'+params.tag
    }
    singularity {
        process.executor = 'local'
        singularity.enabled = 'true'
        process.container = 'shub://aertslab/pySCENIC:'+params.tag
        singularity.autoMounts = true
    }
    dockertesting {
        process.executor = 'local'
        docker.enabled = 'true'
        process.container = 'cflerin/pyscenic:'+params.tag
    }
    singularitytesting {
        process.executor = 'local'
        singularity.enabled = 'true'
        process.container = 'shub://cflerin/pySCENIC:'+params.tag
        singularity.autoMounts = true
    }
    example {
        includeConfig 'example.config'
    }

}

