
params {
    expr = "expr_mat.tsv"
    TFs = "allTFs_hg38.txt"
    motifs = "resources/motifs-v9-nr.hgnc-m0.001-o0.0.tbl"
    db = "resources/hg19*mc9nr.feather"
    output = "pyscenic_output.loom"
    outdir = "."
    grn = "grnboost2"
    threads = 6
    // parameters for reading loom files:
    cell_id_attribute = "CellID"
    gene_attribute = "Gene"
    nb_runs = 1
    // latest pySCENIC version tag
    tag = "0.9.9"
    // for the qsub profile, the name of the account:
    qsubaccount = ""
}

profiles {

    standard {
        process.executor = 'local'
        maxForks = 1
    }
    qsub {
        process.executor = 'pbs'
        clusterOptions = "-l nodes=1:ppn=${params.threads} -l pmem=2gb -l walltime=24:00:00 -A ${params.qsubaccount}"
    }
    docker {
        docker.enabled = true
        process.container = 'aertslab/pyscenic:'+params.tag
    }
    singularity {
        singularity.enabled = true
        process.container = 'shub://aertslab/pySCENIC:'+params.tag
        singularity.autoMounts = true
    }
    example {
        includeConfig 'example.config'
    }

}

